{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Update Task
                </div>
                <div class="card-body">
                    <form action="{% url 'update' task_id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <button type="submit" class="btn btn-primary mt-4 mb-3"><i class="fa-regular fa-edit"></i>
                            Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'index' %}" class="btn btn-warning fs-5 my-3"><i class="fa fa-arrow-left"></i> Go back</a>
        </div>
    </div>
{% endblock %}